* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: darkslateblue;
}

.wrap {
  position: absolute; /* 조상 기준으로 이동 */
  top: 50%; /* 위부터 50% 비율로 정렬 */
  left: 50%; /* 왼쪽부터 50% 비율로 정렬 */
  transform: translate(-50%, -50%); /* x, y 축정렬 */
  color: white; /* 색 = white */
  text-align: center; /* 글 중앙 정렬 */
}

.material-icons {
  font-size: 10rem;
}

.lg-text {
  font-size: 2rem;
  font-weight: bold; /* 볼드체 바꿈 (작동안함) */
  margin-bottom: 5px; /* 여백 확보 */
}

.sm-text {
  font-size: 1.5rem;
  white-space: nowrap; /* 줄바꿈 방지 */
}

#dynamic {
  position: relative; /* 자기 기준으로 이동 */
  display: inline-block; /* display 어떻게 표시할지 정함 */
}

#dynamic::after {
  /* 가상요소 생성 */
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: white;
}
